body{
    background-image: url(../images/fon.jpg);
     background-size: cover;

   }
.bod{
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    
    flex-direction: column;
    width: 62%;
    background-color: white;
    border-style:solid;
    border-color: lightgrey;
    border-width: 0px;
    border-radius: 10px;
    box-shadow:  0 3px 4px 3px #808080;
    padding:0 8px;
}
.menu{

    width: 100%;
}
h2,h3{
    margin:2px;
    text-indent:50px;
}
p{
    margin:8px;
    font-size:17px;
    font-family: "Times New Roman", Times, serif;
    line-height:30px;
    text-indent:50px;
}
.cust{
    color:#798681;
    margin:8px;
}
img{
    margin:8px;
}
thead{
    border-color:white;
    background: lightgrey;
    color:black;
    text-align: center;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    width: 80%;
    border: 1px solid black;
    text-align:center;

}
tbody{
     border-color:black;
}
a:link{
color:#4171C4;
text-decoration: none;
}

a:visited{
color:#8F71DA;
}

a:hover{
color:#f10000;
text-decoration-line: underline;
}

a:active{
color:#C49316;

}